.full-product
  margin-top: 30px
  &__image
    width: 100%
    text-align: center
    border: 1px solid #e8e8e8
    padding: 20px 0
    cursor: pointer
    img
      margin: auto
      display: block
  &__prevs
    margin-top: 20px
    padding: 20px 0
  &__prev-item
    width: 105px
    height: 106px
    margin: 10px 0
    border: 1px solid #e8e8e8
    cursor: pointer
    &:hover
      border: 1px solid $blue

  &__title
    font-family: $Apercu-Bold
    font-size: 30px
    margin: 0
  &__stars
    color: #fac917
    font-size: 18px
    i
      margin-right: 2px
  &__comment-count
    cursor: pointer
    color: $blue
    font-size: 18px
    margin: 0 0 0 40px
    &:hover
      color: darken($blue,10)
  &__stars-comment
    margin-top: 10px